<div class="controls">
    <div>
        <button mat-raised-button color="primary" (click)="onStartClick()">Start</button>
        <button mat-raised-button color="accent" (click)="onNextFrameClick()">Next</button>
        <button mat-raised-button color="warn" (click)="onStopClick()">Pause</button>
        <button mat-raised-button color="warn" (click)="onResetClick()">Reset</button>
        <button mat-raised-button class="pointer-parent">
            <label for="inputRom" class="pointer-parent">
                {{gameName}}
            </label>
        </button>
        <input type="file" id="inputRom" name="inputRom" (change)="handleRomLoad($event.target.files)" hidden/>
        <button mat-raised-button color="warn" (click)="onDisassembleClick()">Disassemble</button>
    </div>
</div>
<div>
    <canvas #display width="512" height="256"></canvas>
</div>

<div>
    <table mat-table [dataSource]="gameAssembly">
    <!-- Position Column -->
        <!-- <ng-container matColumnDef="#">
            <th mat-header-cell *matHeaderCellDef> # </th>
            <td mat-cell *matCellDef="let opCode"> {{opCode.position}} </td>
        </ng-container> -->
  
      <!-- Name Column -->
        <ng-container matColumnDef="OpCode">
            <th mat-header-cell *matHeaderCellDef> OpCode </th>
            <td mat-cell *matCellDef="let opCode"> {{opCode.opCode}} </td>
        </ng-container>
  
      <!-- Weight Column -->
        <ng-container matColumnDef="Assembly">
            <th mat-header-cell *matHeaderCellDef> Assembly </th>
            <td mat-cell *matCellDef="let opCode"> {{opCode.opCodeString}} </td>
        </ng-container>
  
      <!-- Symbol Column -->
        <ng-container matColumnDef="Description">
            <th mat-header-cell *matHeaderCellDef> Description </th>
            <td mat-cell *matCellDef="let opCode"> {{opCode.opCodeDescription}} </td>
        </ng-container>
  
        <tr mat-header-row *matHeaderRowDef="gameAssemblyColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: gameAssemblyColumns;"></tr>
    </table>
</div>
