
<div>
    <label for="inputRom">Select a chip8 Rom:</label>
    <input type="file" id="inputRom" name="inputRom" (change)="handleRomLoad($event.target.files)"/>
</div>
<div>
    <div class="controls">
        <input type="button" value="start" (click)="onStartClick()">
        <input type="button" value="NextFrame" (click)="onNextFrameClick()">
        <input type="button" value="stop" (click)="onStopClick()">
        <input type="button" value="reset" (click)="onResetClick()">
    </div>
    <canvas #display width="512" height="256"></canvas>
</div>
