<div class="system-controls">
    <div>
        <mat-form-field appearance="fill" >
            <mat-label>Select Game</mat-label>
            <mat-select [(value)]="selectedRom" (selectionChange)="onRomChange(selectedRom)">
                <mat-option *ngFor="let rom of roms" [value]="rom">{{ rom }}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onStartClick()">Start</button>
        <button mat-raised-button color="warn" (click)="onResetClick()">Reset</button>
    </div>
</div>