<div class="keyboard-controls">
    <h3>keyboard controls:</h3>
    <table class="table table-condensed commands center">
        <tbody>
            <tr>
                <td>1</td>
                <td>2</td>
                <td>3</td>
                <td>4</td>
            </tr>
            <tr>
                <td>q</td>
                <td>w</td>
                <td>e</td>
                <td>r</td>
            </tr>
            <tr>
                <td>a</td>
                <td>s</td>
                <td>d</td>
                <td>f</td>
            </tr>
            <tr>
                <td>z</td>
                <td>x</td>
                <td>c</td>
                <td>v</td>
            </tr>
        </tbody>
    </table>
</div>