<div class="game-controls">
    <div class="first-row">
        <button mat-raised-button (mousedown)="onButtonMouseDown('1')" (mouseup)="onButtonMouseUp('1')">1</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('2')" (mouseup)="onButtonMouseUp('2')">2</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('3')" (mouseup)="onButtonMouseUp('3')">3</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('C')" (mouseup)="onButtonMouseUp('C')">C</button>
    </div>
    <div class="second-row">
        <button mat-raised-button (mousedown)="onButtonMouseDown('4')" (mouseup)="onButtonMouseUp('4')">4</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('5')" (mouseup)="onButtonMouseUp('5')">5</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('6')" (mouseup)="onButtonMouseUp('6')">6</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('D')" (mouseup)="onButtonMouseUp('D')">D</button>
    </div>
    <div class="third-row">
        <button mat-raised-button (mousedown)="onButtonMouseDown('7')" (mouseup)="onButtonMouseUp('7')">7</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('8')" (mouseup)="onButtonMouseUp('8')">8</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('9')" (mouseup)="onButtonMouseUp('9')">9</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('E')" (mouseup)="onButtonMouseUp('E')">E</button>
    </div>
    <div class="forth-row">
        <button mat-raised-button (mousedown)="onButtonMouseDown('A')" (mouseup)="onButtonMouseUp('A')">A</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('0')" (mouseup)="onButtonMouseUp('0')">0</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('B')" (mouseup)="onButtonMouseUp('B')">B</button>
        <button mat-raised-button (mousedown)="onButtonMouseDown('F')" (mouseup)="onButtonMouseUp('F')">F</button>
    </div>
</div>