<div class="keyboard-controls">
    <h3>keyboard controls:</h3>
    <table class="table table-condensed commands center">
        <tbody>
            <tr>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('1')" (mouseup)="onButtonMouseUp('1')">1</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('2')" (mouseup)="onButtonMouseUp('2')">2</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('3')" (mouseup)="onButtonMouseUp('3')">3</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('C')" (mouseup)="onButtonMouseUp('C')">C</button></td>
            </tr>
            <tr>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('4')" (mouseup)="onButtonMouseUp('4')">4</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('5')" (mouseup)="onButtonMouseUp('5')">5</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('6')" (mouseup)="onButtonMouseUp('6')">6</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('D')" (mouseup)="onButtonMouseUp('D')">D</button></td>
            </tr>
            <tr>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('7')" (mouseup)="onButtonMouseUp('7')">7</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('8')" (mouseup)="onButtonMouseUp('8')">8</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('9')" (mouseup)="onButtonMouseUp('9')">9</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('E')" (mouseup)="onButtonMouseUp('E')">E</button></td>
            </tr>
            <tr>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('A')" (mouseup)="onButtonMouseUp('A')">A</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('0')" (mouseup)="onButtonMouseUp('0')">0</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('B')" (mouseup)="onButtonMouseUp('B')">B</button></td>
                <td><button mat-raised-button color="primary" (mousedown)="onButtonMouseDown('F')" (mouseup)="onButtonMouseUp('F')">F</button></td>
            </tr>
        </tbody>
    </table>
</div>