<div class="layout">
    <div class="left-column">
        <chip8-system-controller 
            (startEvent)="onStartClick()" 
            (pauseEvent)="onStopClick()" 
            (nextEvent)="onNextFrameClick()"
            (resetEvent)="onResetClick()"
            (romChangeEvent)="onRomChange($event)"></chip8-system-controller>
        <chip8-display #display></chip8-display>
        <chip8-game-controller (gameControllerKeyDownEvent)="onGameControllerKeyDown($event)" (gameControllerKeyUpEvent)="onGameControllerKeyUp($event)"></chip8-game-controller>
    </div>
    <div class="right-column">
        <chip8-debugger [gameAssembly]="gameAssembly"></chip8-debugger>
    </div>
</div>
